.modal_container{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.445);
    justify-content: center;
    align-items: center;
}

.modal_box{
    background-color: white;
    height: 90vh;
    width: 90vw;
    border-radius: 0.5rem;
    overflow-y: auto;
    padding: 0 0 5rem;
}

.specified_columns_container{
    padding: 5px 0;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    gap: 8px;
    margin: 25px 35px;
}

.specified_columns_container > button {
    min-height: 5rem;
    text-transform: uppercase;
    /* font-size: 13px; */
    font-weight: bold;
}

.black{
    color: black;
    font-weight: bold;
}