/* table styles */
.custom_table{
    margin: 10px auto;
    /* border: solid; */
}

.custom_table > thead{
    background-color: rgb(30, 30, 30);
}

.custom_table th{
    font-weight: bold;
    color: white;
    min-width: 18rem !important;
    padding: 10px 0;
}

.custom_table tbody{
    border: dashed 1px gray;
}

.custom_table td{
    text-align: center;
    padding: 1rem !important;
    border-top: dashed 1px gray;
    border-bottom: dashed 1px gray;
}

.draggable_column_cell{
    cursor: grab;
    border: solid 1px rgb(183, 183, 183);
    text-align: center;
    font-weight: normal;
    vertical-align: middle !important;
    width: 10rem !important;
    /* padding: 5px 10px; */
}

.draggable_column_cell:active{
    cursor: grabbing;
}

.tableRow_cell{
    vertical-align: middle !important;
    width: 10rem !important;
}